<!DOCTYPE html>
<html>
  <head>

    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

    <!-- Compiled and minified CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

 <!-- Compiled and minified JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <title>Gamely</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    </script>
  </head>
  <body>

  <nav>
      <div class="nav-wrapper">
        <img src="/images/logos/gamely/logo.png" alt="" width="65px">
        <ul class="right hide-on-med-and-down" >
          <li><a href="sass.html"><i class="material-icons">search</i></a></li>
          <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
          <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
          <li><a href="#slide-out"><i class="material-icons">more_vert</i></a></li>
        </ul>
      </div>
    </nav>

<ul id="slide-out" class="side-nav">
    <li><div class="user-view">
      <div class="background">
        <img src="images/minecraft2.jpg">
      </div>
      <a href="#!user"><img class="circle" src="images/Capture.jpg"></a>
      <a href="#!name"><span class="white-text name">John Doe</span></a>
      <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
<!--  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>-->

<!--<nav class="nav-extended">
    <div class="nav-wrapper">
      <img id=webpageLogo src="\images\official logo.png" alt="">
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href=""><img id="libraryPicture" width="60" class="img-circle" src="\images\library.png"></a></li>
        <li><a href="/views/write.ejs"><img id="writePicture" width="60" class="img-circle" src="\images\pencil.png"></a></li>
        <li><a href="/views/profile.ejs"><img id="profilePicture" width="60" class="img-circle" src="\images\profile.png"></a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
     <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="#test1">Home</a></li>
        <li class="tab"><a href="#test2">Trending</a></li>
        <li class="tab"><a href="#test3">Books</a></li>
        <li class="tab"><a href="#test4">Games</a></li>
        <li class="tab"><a href="#test5">Music</a></li>
        <li class="tab"><a href="#test6">Films</a></li>
        <li class="tab"><a href="#test7">Art</a></li>

      </ul>-->

      <div class="carousel carousel-slider center" data-indicators="true">
        <div class="carousel-fixed-item center">
          <a class="btn waves-effect white grey-text darken-text-2">button</a>
        </div>
        <div class="carousel-item red white-text" href="#one!">
          <h2>Buy Books and videogames</h2>
          <p class="white-text">Buy any book and read it any time</p>
        </div>
        <div class="carousel-item amber white-text" href="#two!">
          <h2>Read Online</h2>
          <p class="white-text">Read the books that you have alredy buyed any time and even without inthernet</p>
        </div>
        <div class="carousel-item green white-text" href="#three!">
          <h2>Write Your Books</h2>
          <p class="white-text">Write books of whatever you want</p>
        </div>
        <div class="carousel-item blue white-text" href="#four!">
          <h2>Sell Your Books and videogames</h2>
          <p class="white-text">Sell your books from $1 to $80 and videogames from $1 to $100</p>
        </div>
        <div class="carousel-item medium orange white-text" href="#five!">
          <h2>Sell Your Books and videogames</h2>
          <p class="white-text">Sell your books from $1 to $80 and videogames from $1 to $100</p>
        </div>
        <div class="carousel-item purple white-text" href="#six!">
          <h2>Sell Your Books and videogames</h2>
          <p class="white-text">Sell your books from $1 to $80 and videogames from $1 to $100</p>
        </div>
        <div class="carousel-item white black-text" href="#seven!">
          <h2>Sell Your Books and videogames</h2>
          <p class="white-text">Sell your books from $1 to $80 and videogames from $1 to $100</p>
        </div>
        <div class="carousel-item cyan black-text" href="#eight!">
          <h2>Sell Your Books and videogames</h2>
          <p class="white-text">Sell your books from $1 to $80 and videogames from $1 to $100</p>
        </div>
      </div>

        <script type="text/javascript" src="/javascripts/materialize.js"></script>

<h1 class=sectionHeadings>Our Mission</h1>

<!--<div class="row">
   <div class="col s12 m6">
     <div class="card">
       <div class="card-image">
         <img src="./images/minecraft2.jpg">
         <span class="card-title">Why we did it?</span>
         <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
       </div>
       <div class="card-content">
         <p></p>
       </div>
     </div>
   </div>
</div>

<div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="./images/minecraft2.jpg">
          <span class="card-title">The Problem</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col s6 offset-s3">
        <div class="card">
          <div class="card-image">
            <img src="./images/minecraft2.jpg">
            <span class="card-title">The Solution</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p></p>
          </div>
        </div>
      </div>
    </div>-->

   <div class="row">
    <div class="card col s6">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="/images/minecraft2.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
    </div>

        <div class="card col s6">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="/images/minecraft2.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>

    <div class="row">
      <div class="card col s6 offset-s3">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="/images/minecraft2.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>

<h1 class=sectionHeadings>Services</h1>

<div class="col s12 m7">
    <h2 class="header"></h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="/images/minecraft2.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p><h3>Create</h3></p>
        </div>
        <div class="card-action">
          <a href="#">...</a>
        </div>
      </div>
    </div>
  </div>

<div class="col s12 m7">
    <h2 class="header"></h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="/images/minecraft2.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p><h3>Publish</h3></p>
        </div>
        <div class="card-action">
          <a href="#">...</a>
        </div>
      </div>
    </div>
  </div>

<div class="col s12 m7">
    <h2 class="header"></h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="/images/minecraft2.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p><h3>Buy</h3></p>
        </div>
        <div class="card-action">
          <a href="#">...</a>
        </div>
      </div>
    </div>
  </div>

<h1 class=sectionHeadings>Company Values</h1>

<div class="values">
      <div class="col s6">
        <div class="card-panel teal">
          <span class="white-text"><h3 class="valuesText">Creativity</h3>
          </span>
        </div>
      </div>
    </div>

<div class="values">
      <div class="col s6">
        <div class="card-panel teal">
          <span class="white-text"><h3 class="valuesText">Quality</h3>
          </span>
        </div>
      </div>
    </div>

<div class="values">
      <div class="col s6">
        <div class="card-panel teal">
          <span class="white-text"><h3 class="valuesText">Fun</h3>
          </span>
        </div>
      </div>
    </div>

<div class="values">
      <div class="col s6">
        <div class="card-panel teal">
          <span class="white-text"><h3 class="valuesText">Honesty</h3>
          </span>
        </div>
      </div>
    </div>

<div class="values">
      <div class="col s12">
        <div class="card-panel teal">
          <span class="white-text"><h3 class="valuesText">Responsability</h3>
          </span>
        </div>
      </div>
    </div>

<h1 class=sectionHeadings>The Team</h1>

<img class="img-circle" src="/images/pics/blue.jpg">
<img class="img-circle" src="/images/pics/blue.jpg">
<img class="img-circle" src="/images/pics/blue.jpg">
<img class="img-circle" src="/images/pics/blue.jpg">

  </body>

</html>

<!--<li><a href="sass.html">Library</a></li>
    <li><a href="badges.html">Write</a></li>
    https://s3.amazonaws.com/intellect-wp-prod/wp-content/uploads/sites/6/2017/03/17160602/profle-management.svg
    <li class="tab"><a class="active" href="#test2">Trending</a></li>
    <li class="tab disabled"><a href="#test3">Books</a></li>
    <li><img id="libraryPicture" href="/library" width="60" class="img-circle" src="\images\library.png"></li>
    <li><img id="writePicture" href="/write" width="60" class="img-circle" src="\images\pencil.png"></li>-->
