
    <!DOCTYPE html>
    <html>
      <head>
        <meta charset="utf-8">
        <title></title>
      </head>
      <body>
        <h1>Our promotion<h1>
        <img src="http://bostonvcblog.typepad.com/.a/6a00d83424781853ef01b8d177f8d1970c-pi" alt="" style="width:500px;height:500px;">
        <h2>We decided to promote our social media on YouTube by having a YouTube channel and having a budget of 100 US
        dollars to spend on YouTube ads. <h2>
          <img src="https://assets.entrepreneur.com/content/16x9/822/20150828171552-youtube-advertising-online-marketing.jpeg" alt="" style="width:800px;height:500px;">
<h3><a href="https://www.powtoon.com/online-presentation/dz8OL0yglTZ/?mode=movie#/"> Check out our video</a></h3>
      </body>
      <html>

      
