body {
  padding: ;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #26a69a;
}

nav {
  background-color:#3b4654
}

.img-circle{
  margin: 15px -5px;
  /*border-radius: 50%;*/
}

#webpageLogo {
  width: 120px;
  margin: 10px;
}

#searchView {
  width: 100px;
}

#searchBar {
  margin: 50px
}

 {
  color: #00B7FF;


}
