body {
  padding: ;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-color: #26a69a;*/
}

nav {
  background-color:#3b4654
}

.img-circle{
  margin: 15px 65px;
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

#webpageLogo {
  width: 120px;
  margin: 10px;
}

.carousel.carousel-slider {
    width: 100%;
    min-height: 500px;
  }

.values {
  margin: 5% 30%
}

.sectionHeadings {
  text-align: center;
}

.valuesText {
  text-align: center;
}
